################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMP311/FileContentIndex
/.vs/CMP311/v17
/.vs
